.header {
	display: flex;
	justify-content: space-between;
	height: 70px;
	margin-bottom: 25px;
	.logo {
		width: 70px;
		height: 100%;
	}
	.options {
		width: 50%;
		height: 100%;
		justify-content: flex-end;
		align-items: center;
		display: flex;
		.option {
			padding: 10px 15px;
		}
	}
}
